/* media mobile 0-500px */
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Domine", serif;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

header {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: #f8f9fa;
}

footer {
  background-color: #f4813a;
  background-image: linear-gradient(43deg, #f4813a 0%, #e8a15f 46%, #f4813a 100%);
  margin-top: 150px;
}

ul li {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

ol,
ul {
  padding-left: 0;
}

header .listaHeader {
  display: flex;
  justify-content: space-between;
}
header .listaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
}

.listMaps {
  list-style-type: none;
}

.dropdown-menu-light {
  background-color: #f8f9fa;
}

.btn-outline-success:hover, .bttnProductos:hover, .btn-primary:hover{
  color: #fff;
  background-color: black;
  border-color: black;
}

.logo {
  width: 17em;
}

@media (min-width: 500px) {
  .listaHeader {
    grid-area: listaHeader;
  }
}
@media (min-width: 665px) {
  .listaPrincipal, .dropdown-item {
    font-size: 13px;
  }
}
@media (min-width: 1216px) {
  .listMaps {
    list-style-type: none;
  }
}
/*Variables*/
.navHeader, .listaHeader {
  background-color: #f8f9fa;
}

/*Extend*/
.shipping, .shopping, .card, .inspiramos {
  color: #304642;
  font-size: 12px;
  margin-bottom: 30px;
  border: none;
}

/*Mixin*/
.containerProductos .imgProductos {
  height: 300px;
  width: 315px;
}

@media (min-width: 500px) {
  .containerProductos .imgProductos {
    height: 100%;
    width: 100%;
  }
}
h1, h2 {
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 25px;
  color: #F27141;
}

.dondeEstamos, .h1Nosotros, .contacto, .h1Productos, .h2Productos, .masElegidos {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 50px;
  margin-right: 2px;
  margin-left: 2px;
}

.h1-productos {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #F27141;
}

@media (min-width: 500px) {
  .h1-productos {
    margin-bottom: 30px;
    font-size: 22px;
  }
}
@media (min-width: 1216px) {
  .dondeEstamos, .h1Nosotros, .contacto, .h1Productos, .h2Productos, .masElegidos {
    font-size: 30px;
  }
  .logo {
    width: 20em;
  }
}


.btn-outline-success {
  color: #F27141;
  border-color: #F27141;
}

#hamburger {
  display: flex;
  justify-content: end;
  margin-top: 11.5px;
}

.navHeader {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  padding-bottom: 1.2rem;
  margin-right: 5px;
}

.box:hover {
  transform: scale(1.1);
}

.box2 {
  transition-property: all;
  transition-duration: 0.5s;
}

.boxx:hover {
  transform: scale(1.05);
}

.containerProductos {
  position: relative;
  width: 100%;
}

.containerProductos .btnProductos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 55px 20px 55px 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.textProductos {
  font-size: 15px;
  width: 200px;
  color: #304642;
}

.bttnProductos {
  font-size: 13px;
  background-color: #F27141;
  color: white;
  padding: 6px;
  border-radius: 3px;
}

.inspiramos {
  margin-right: 30px;
  margin-left: 30px;
}

.d-blockk {
  display: none;
}

.navFija::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: " ";
  background-color: black;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: -1;
}

.navFija {
  width: 100%;
  background-color: #f8f9fa;
  position: fixed;
}

.carousel-control-next, .carousel-control-prev {
  z-index: 0;
}

.carrouselll {
  font-size: 15px;
}

.datosImportantes {
  margin: 70px 0px 100px 0px;
  color: #F27141;
}

p strong {
  font-weight: 500;
}

.imgElegidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imgMasElegidos {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #304642;
  font-size: 13px;
}

.imgPagos {
  width: 100%;
  display: flex;
  justify-content: center;
}

#img-pagos {
  width: 35px;
  margin: 5px;
}

.redesSociales {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgRedes {
  margin: 10px;
  padding: 10px;
  background-color: #304642;
  border-radius: 20px;
}

.horarios {
  margin-bottom: 50px;
}

.copyright {
  background-color: #304642;
  padding: 10px;
  color: white;
}

.puntoRetiro {
  padding-top: 80px;
}

.iframeFabrica {
  border: 1px solid #304642;
}

.imgNosotros {
  width: 300px;
}

.parrafoNosotros {
  margin-top: 20px;
  width: 260px;
  font-size: 10px;
  color: #304642;
}

p strong {
  font-weight: 700;
  color: #304642;
}

.nosotros, .todoContacto, .textoArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoArea1 {
  width: 250px;
}

.verificacion {
  margin: 5px;
}

.enviar {
  padding: 2px 10px 2px 10px;
}

.logoNumero, .contactoExtra, .smallNumero {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #F27141;
  border-color: #F27141;
}

.row {
  margin-left: 30px;
  margin-right: 30px;
}

.form-check .form-check-input {
  float: none;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 54px;
}

.jpgProductos {
  width: 100%;
  margin-top: 50px;
}

.paragraphProductos {
  font-size: 10px;
  width: 255px;
  color: #304642;
  text-align: initial;
}

.div-paragraph {
  margin-top: 20px;
}

.paragraph-productos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 20px 25px 20px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.cardProductos {
  width: 270px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.navProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-productos, .fabricaRetiro {
  font-size: 22px;
  font-weight: 700;
  color: #F27141;
  margin: 80px 10px 50px 10px;
}

.card-title {
  color: #304642;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table {
  margin: 5%;
  width: 90%;
}

.googleMaps {
  font-size: 10px;
}

.frasco-pc {
  display: none;
}

.precipitadoPc {
  display: none;
}

.sectionFooter {
  width: 100%;
}

@media (min-width: 500px) {
  header {
    grid-area: header;
  }
  .imgEmpresa {
    grid-area: imgEmpresa;
  }
  .datosImportantes {
    grid-area: datosImportantes;
  }
  .nuestrosProductos {
    grid-area: nuestrosProductos;
  }
  .conoceProductos {
    grid-area: conoceProductos;
  }
  .imgElegidos {
    grid-area: imgElegidos;
  }
  footer {
    grid-area: footer;
  }
  body {
    display: grid;
    grid-template-areas: "header            header" "imgEmpresa        imgEmpresa" "datosImportantes  datosImportantes" "datosImportantes  datosImportantes" "datosImportantes  datosImportantes" "nuestrosProductos nuestrosProductos" "nuestrosProductos nuestrosProductos" "conoceProductos   conoceProductos" "conoceProductos   conoceProductos" "imgElegidos       imgElegidos" "imgElegidos       imgElegidos" "imgElegidos       imgElegidos" "footer            footer";
    grid-template-columns: 1fr;
  }
  .mapsFabrica {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .carrouselll {
    font-size: 25px;
  }
  .paragraph-productos {
    width: 90%;
    height: 80%;
    padding-right: 60px;
    padding-left: 60px;
  }
  .navProductos, .paragraphProductos, .iframeFabrica, .imgNosotros, .textProductos {
    width: 100%;
    font-size: 15px;
  }
  .parrafoNosotros {
    text-align: initial;
    width: 90%;
    font-size: 13px;
  }
  .row, .btn-primary {
    font-size: 13px;
  }
  .containerProductos .btnProductos {
    width: 80%;
    padding: 125px 80px 125px 80px;
  }
  .imgMasElegidos {
    width: 300px;
  }
}
@media (min-width: 665px) {
  .nosotros {
    flex-direction: row;
    justify-content: space-around;
  }
  .parrafoNosotros {
    width: 280px;
    font-size: 9px;
  }
  .cuerpoContacto, .datosImportantes {
    display: flex;
    justify-content: space-evenly;
  }
  .containerProductos {
    position: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .containerProductos .btnProductos {
    width: 50%;
    padding: 0;
    position: initial;
    transform: none;
  }
  .containerProductos .imgProductos {
    width: 50%;
    margin-left: 100px;
    margin-top: 50px;
    height: 300px;
    margin-right: 20px;
  }
  .frascoPhone {
    display: none;
  }
  .frasco-pc {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }
  .containerProductos {
    position: unset;
    display: block;
  }
  .paragraph-productos {
    height: 325px;
    margin-top: -50px;
    width: 90%;
  }
  .cardProductos {
    width: 450px;
  }
  .card-title {
    font-size: 17px;
  }
  #container-productos {
    display: flex;
  }
  .precipitadoPhone {
    display: none;
  }
  .precipitadoPc {
    display: flex;
    width: 350px;
  }
  #container-productos {
    display: flex;
    margin-top: 100px;
    justify-content: center;
  }
  .precipitadoPc {
    display: flex;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 10px;
  }
  .textProductos {
    font-size: 18px;
  }
  .bttnProductos {
    font-size: 15px;
    color: white;
  }
  .shipping, .shopping, .card, .inspiramos, .h3-elegidos {
    font-size: 15px;
  }
  .imgMasElegidos, .col-12 {
    margin: 10px;
  }
  .form-control {
    padding: 8px;
  }
  .form-contacto {
    display: flex;
  }
  .row {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .col-md-4 {
    width: 100%;
  }
  .textoArea {
    display: block;
    width: 50%;
  }
  .textoArea1 {
    width: 100%;
    margin-top: 25px;
  }
  .googleMaps {
    font-size: 12px;
  }
  header .listaPrincipal{
    font-size: 14px;
  }
}
@media (min-width: 870px) {
  .carrouselPhone {
    display: none;
  }
  .carrouselPc {
    display: flex;
  }
}
@media (min-width: 1216px) {
  .datosImportantes {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 150px;
  }
  .nuestrosProductos {
    margin-bottom: 5em;
  }
  .datosFooter {
    display: flex;
    justify-content: space-between;
    padding: 10px 5% 30px 5%;
  }
  #img-pagos {
    height: 22px;
  }
  .sectionFooter {
    flex-direction: column;
  }
  .horarios {
    font-size: 1.2em;
  }
  form {
    margin-bottom: 22px;
  }
  .imgFabrica, .imgRetiro {
    width: 400px;
    border: 1px solid #304642;
  }
  .mapsFabrica, .mapsRetiro, .nosotros {
    align-items: center;
    margin-bottom: 100px;
  }
  .fabricaRetiro {
    margin-top: 80px;
    font-size: 27px;
  }
  .imgNosotros {
    width: 565px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .parrafoNosotros {
    font-size: 14px;
    width: 420px;
    text-align: start;
  }
  .cuerpoContacto {
    display: flex;
    flex-direction: row;
  }
  .contactoExtra {
    font-size: 15px;
  }
  .carrouselll {
    font-size: 30px;
  }
  .navProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardProductos {
    margin: 10px;
  }
  .frasco-pc {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }
  .containerProductos {
    position: unset;
    display: block;
  }
  .paragraph-productos {
    height: 500px;
    margin-top: 80px;
    padding-right: 100px;
    padding-left: 100px;
    width: 50%;
  }
  .h1-productos {
    margin-bottom: 50px;
    font-size: 25px;
  }
  .paragraphProductos {
    font-size: 18px;
  }
  tbody {
    font-size: 13px;
  }
  .mapsFabrica iframe {
    height: 600px;
  }
  .svg-datos {
    width: 100px;
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */