* {
    padding: 0;
    margin: 0;
    font-family: "Domine", serif;
    font-family: "Montserrat", sans-serif;
    }
    html {
        font-size: 62.5%;
    }
    
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: white;
        min-height: 100vh;
    }

    header{
        width: 100%;
        position: relative;
        z-index: 1;
        background-color: #f8f9fa;
    }

    footer {
        background-color: #f4813a;
        background-image: linear-gradient(43deg, #f4813a 0%, #e8a15f 46%, #f4813a 100%);
        margin-top: 150px;
    }