h1, h2 {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 25px;
    color: #F27141;
}

.dondeEstamos{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 50px;
    margin-right: 2px;
    margin-left: 2px;
}

.h1Nosotros, .contacto, .h1Productos, .h2Productos, .masElegidos{
    @extend .dondeEstamos;
}

.h1-productos{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #F27141;
}

$color:naranja;

.fabricaRetiro{
    font-size: 22px;
    font-weight: 700;
    margin: 80px 10px 50px 10px;
    @if $fondo == negro{
        color: black;
    }
    @else if $fondo == naranja{
        color: #F27141;
    }
    @else {
        color: yellow;
    }
}


.h2-productos{
    @extend .fabricaRetiro;
}

@media (min-width: 500px){
    .h1-productos{
        margin-bottom: 30px;
        font-size: 22px;
    }
}

@media (min-width: 1216px){
    .dondeEstamos{
        font-size: 30px;
    }
    .contacto{
        @extend .dondeEstamos;
    }
    .h1-productos {
        @extend .dondeEstamos;
        margin-bottom: 50px;
        font-size: 25px;
    }
}